{% extends 'core/about.html' %}

{% block title %} Search | Tech World {% endblock %} 

{% block content %}

<div class="container text-center mt-3 mb-5"><h1 >Posts in  {{ category.title }} category </h1></div>

<!--Post lists-->

<div class="conteiner">
    <div class="col-12 ">
        <div class="container">
            <h1>Search results for {{ query }}</h1>
            
        </div>
        {% for post in posts %}
        <h1>{{ post.title}}</h1>
        <p>{{ post.intro}}</p>
        <a class="btn btn-primary" href="{% url 'post_detail' post.category.slug post.slug %}">More</a>
        <p>{{ post.created_at|date:'d-m-y H:i' }}</p>
        <hr>

        {% empty %}
        <div class="container">
            <h4 class="text-center">No results.. </h4> 
        </div>

        {% endfor%}
    </div>
</div>

<!--Post lists-->


   
    

{% endblock %}